body {
  background-color: rgb(45, 151, 232);
  color: white;
}
blockquote {
  margin: 0;
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
.total-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container,
.progess,
.done {
  border: 1px solid white;
  height: 100vh;
}
.fixed-width-textarea {
  width: 500px;
  height: 150px;
}
